header
{

    background-color: #F6F6F6;
    padding-top: 1.5em;
    padding-bottom: 1.2em;
    /* position: fixed; */
}
.ti h2{
     padding-top: 0.2em;
     padding-bottom: 0.3em;
    text-align: center;
    color: black;
    font-size: 3.5em;
    /* position: fixed; */
    
}
body{
    /* The image used */
    background-image: url("newyork.jpg");
  
    /* Full height */
    height: 50em;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .team
  {    
      text-align: center;
      color: white;
       padding-top: 22em;
       font-size: larger;
  }
  